<%- include('./partials/head') %>
<header>
  <h1>Squad page</h1>
</header>
<main>
<!--meet the squad-->
  <section class="meet-the-squad">
<h2>Meet the squad...</h2>
  </section>
<!--  filters-->
  <div class="filters">
    <button id="group">Group</button>
    <button id="filter"></button>
    <div class="underline"></div>
  </div>

<!--content-->
  <div class="content">
    <article>

    </article>
    <article>

    </article>
    <article>

    </article>
    <article>

    </article><article>

    </article>
  </div>
</main>
<%- include('./partials/foot') %>