<%- include('./partials/head') %>
<header>
    <h1>Squad page</h1>
</header>
<main>
    <!--meet the squad-->
    <section class="meet-the-squad">
        <h2>Meet the squad...</h2>
    </section>
    <!--  filters-->
    <div class="filters">
        <div class="filters-container">
            <button id="group">Group</button>
            <button id="filter">Filter</button>
            <div class="underline"></div>
        </div>
    </div>

    <!--content-->
    <div class="content">
        <article class="squadpage">
yoo
        </article><article class="squadpage">
yoo
        </article><article class="squadpage">
yoo
        </article><article class="squadpage">
yoo
        </article>
    </div>
</main>
<%- include('./partials/foot') %>