<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main>
    <!--meet the squad-->
    <section class="meet-the-squad">
        <h2>Meet the squad...</h2>
    </section>
    <!--  filters-->
    <div class="filters">
        <div class="filters-container">
            <button id="group">Group</button>
            <button id="filter">Filter</button>



    </div>

    </div>


    <!--content-->
    <div class="content-container">
    <ul class="content">


            <% persons.forEach(person => { %>
            <li class="squadpage"><h1><%= person.name %></h1></li>
            <% }) %>
    </ul>
    </div>
</main>
<%- include('./partials/foot') %>