:root{

}

*{

}

button {
    background: white;
    border-radius: 10%;
    margin: 2em;
    padding: 0.5em;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Schaduw van de knop */

}


header{
}

header, .meet-the-squad, .filters {
    display: flex;
    justify-content: center;
    /* Voeg hier andere CSS-styling toe die je wilt toepassen op zowel header als elementen met de klasse .meet-the-squad */
}

.meet-the-squad {

}

 .filters-container {
    display: flex;
    justify-content: space-between;
}

 .content {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .squadpage{
grid-area: content;
 }

 article {
     position: relative;
     background: grey;
     border-radius: 10%;
     padding: 7em;
     margin: 1em;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Schaduw van de knop */

 }
