:root{

}

*{

}

button {
    background: white;
    border-radius: 10%;
    margin: 2em;
    padding: 0.5em;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Schaduw van de knop */

}


header{
}

header, .meet-the-squad, .filters {
    display: flex;
    justify-content: center;
    /* Voeg hier andere CSS-styling toe die je wilt toepassen op zowel header als elementen met de klasse .meet-the-squad */
}

.meet-the-squad {

}

 .filters-container {
    display: flex;
    justify-content: space-between;
}

.content-container {

}
.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: minmax(200px, auto);
    grid-gap: 5em; /* Optioneel: voeg ruimte toe tussen de kolommen */
    padding: 0; /* Reset de padding */

.squadpage {
display: flex;
    justify-content: center;
    list-style-type: none;
    position: relative;
    background: grey;
    border-radius: 10%;
    height: 17em; /* Verminder de padding */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

}
/*@media screen and (min-width: 1200px){*/
/*    .squadpage {*/
/*        height: 20em;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 1500px){*/
/*    .squadpage {*/
/*        height: 25em;*/
/*    }*/
/*}*/




